body {
    font-family: "Fira Sans", serif;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}

nav ul li {
    list-style: none;
    margin-left: 0;
}

.web-name {
    font-size: 25px;
    font-weight: 700;
}

.first-btn {
    padding: 12px 25px 12px 25px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.first-btn:hover {
    background-color: rgb(0, 106, 80);
    color: white;
}

.banner-section {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    background-size: cover;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.banner-description {
    margin-left: 50px;
}

.banner-subtitle {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

.banner-title {
    font-size: 56px;
    font-weight: 700
}

/* shared style */
.primary-btn {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    padding: 16px 32px 16px 32px;
    background: rgb(0, 106, 80);
    border: none;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.primary-btn:hover {
    background-color: black;
}

/* pillar section styles */
.pillar-title {
    font-size: 35px;
    font-weight: 700;
    margin-left: 42px;
    margin-top: 80px;
}

.cards {
    padding-top: 30px;
    padding-left: 10px;
    width: 300px;
    height: 240px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* vision container styles */
.vision-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.vision-description {
    margin-top: 80px;
    margin-left: 42px;
}

.vision-title {
    font-size: 30px;
    font-weight: 700;
}

.vision-cards-one {
    padding-top: 30px;
    padding-left: 10px;
    width: 390px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}

.vision-cards-two {
    padding-top: 30px;
    padding-left: 10px;
    width: 390px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}

.vision-cards-three {
    padding-top: 30px;
    padding-left: 10px;
    width: 390px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);

}

.blue-btn {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    padding: 11px 20px 11px 20px;
    background: rgb(84, 144, 245);
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

.green-btn {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    padding: 11px 20px 11px 20px;
    background: rgb(9, 161, 92);
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

.yellow-btn {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    padding: 11px 20px 11px 20px;
    background: rgb(255, 194, 57);
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.blue-btn:hover,
.green-btn:hover,
.yellow-btn:hover {
    background-color: black;
}

/* opinion section */


/* quote section */
.quote-section {
    margin-top: 40px;
    background-image: url('../images/quote-bg.png');
    background-image: linear-gradient(rgba(14, 14, 14, 0.3)) url('../images/quote-bg.png');
    background-repeat: no-repeat;
    height: 270px;
    margin-left: 35px;
    margin-right: 35px;
}

.quote-container {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding-left: 3px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.chief-name {
    font-size: 18px;
    font-weight: 600;
}

/*recent news container */
.satellite-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding-left: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 24px;
    background: rgb(247, 241, 241);
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
    margin-bottom: 15px;
}

.news-description {
    margin-left: 33px;
}

.satellite-image img {
    width: 330px;
    height: 250px;
    border-radius: 20px;
    margin-right: 30px;
}

.satellite-btn {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    padding: 10px 25px 10px 25px;
    background: rgb(0, 106, 80);
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.satellite-btn:hover {
    background-color: black;
    color: azure;
}

/* donate section */
.donate-description {
    text-align: center;
    margin-top: 60px;
}

.money-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.box {
    width: 240px;
    height: 112px;
    font-size: 28px;
    color: rgba(14, 14, 14, 0.8);
    font-weight: 700;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
}

.box:hover {
    background-color: rgb(0, 106, 80);
    color: white;
}

.color-box {
    background-color: rgb(198, 228, 214);
}

.donation-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.amount-box {
    text-align: center;
    width: 970px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 18px 30px 18px 30px;
}

.donate-now {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    padding: 16px 32px 16px 32px;
    background: rgb(0, 106, 80);
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.donate-btn {
    padding: 15px;
    text-align: center;
}

.donate-now:hover {

    background-color: #A5D6A7;
    color: black;
}

/* footer section */

.subscribe-container {
    text-align: center;
    padding: 40px 20px;
    background-color: rgb(198, 228, 214);
    padding: 80px 100px 80px 100px;
    margin-top: 70px;
    margin: 40px;
    border-radius: 24px;
}



.subscribe-title {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 700;
}

.btn-and-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subscribe-input {
    padding: 10px;
    font-size: 16px;
    width: 600px;
    height: 34px;
    border: none;
    border-radius: 8px 0px 0px 8px;
}

.subscribe-btn {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 0px 8px 8px 0px;
    padding: 16px 32px 16px 32px;
    background: rgb(0, 106, 80);
    border: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.subscribe-btn:hover {
    background-color: black;
    color: white;
}

.footer-note {
    margin-top: 25px;
    font-size: 14px;
}

.icon-section {
    margin-top: 50px;
    text-align: center;
}

.icon-section hr {
    width: 80%;
    background: rgb(30, 30, 30);
}

.icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}